[2016-07-25 16:08] noisysongbird opened #6 "Playlist download method not working"
When i try to run the set-up file, it installs into a my program files but it says installation complete and I cannot open the application.  I tried downloading the old one ver r.1.0.0.36 but when I run the application I constantly get a message saying "value cannot be null parameter name value"

[2016-07-25 16:10] erwinkramer commented on #6
Did you try running the setup without virus scanner enabled?

Op 25 jul. 2016 6:08 p.m. schreef "noisysongbird" <notifications@github.com

[2016-07-25 16:12] erwinkramer commented on #6
Does the error pop up without pressing any buttons in the app itself?

[2016-07-25 16:18] noisysongbird commented on #6
Yes, I also tried running the install as administrator.  I can show you the exact error message when I get home from work.
-Noah

    On Monday, July 25, 2016 11:10 AM, erwinkramer <notifications@github.com> wrote:

 Did you try running the setup without virus scanner enabled?

Op 25 jul. 2016 6:08 p.m. schreef "noisysongbird" <notifications@github.com

—
You are receiving this because you authore

[2016-07-25 16:49] erwinkramer commented on #6
Also please verify that the application updated itself to version 2.10.1.14 (you can see it at the titlebar of the app). If not, try updating it manually with the 'Update' button at the menu bar.

[2016-07-25 17:08] noisysongbird commented on #6
The version I downloaded is r2.10.1.7 which is the only one I saw on your github.  I have attached a .txt of the error message I receieve when I try to run the setup application in the releases folder.  If there is a different version I should be installing, could you link it please?

    On Monday, July 25, 2016 11:49 AM, erwinkramer <notifications@github.com> wrote:

 Also please verify that the

[2016-07-25 17:18] erwinkramer commented on #6
I don't see your text file

[2016-07-25 17:31] erwinkramer commented on #6
"The version I downloaded is r2.10.1.7 " That's the right version to download, however during install it auto updates to 2.10.1.14

[2016-07-25 17:40] noisysongbird commented on #6
The attached file for the installation error is named SquirrelSetup and is a .log file but you should still be able to open it using notepad.  I have attached it to this email as well.

    On Monday, July 25, 2016 12:31 PM, erwinkramer <notifications@github.com> wrote:

 "The version I downloaded is r2.10.1.7 " That's the right version to download, however during install it auto updates to 2.10.1

[2016-07-25 17:43] erwinkramer commented on #6
You can't send attachments with the way you email this message, it's not directly to me but trough GitHub. Please attach it in the chat here: https://github.com/erwinkramer/SoundCloud-Playlist-Sync/issues/6

[2016-07-25 17:48] noisysongbird commented on #6
My mistake, I am not that familiar with github.

[soundcloudplaylistdownloader.txt](https://github.com/erwinkramer/SoundCloud-Playlist-Sync/files/382113/soundcloudplaylistdownloader.txt)

[2016-07-25 17:50] erwinkramer commented on #6
Do you have Skype so we can talk there?

[2016-07-25 17:51] noisysongbird commented on #6
I can when I get home from work.  I should be home around 5:30 PM Central time.

    On Monday, July 25, 2016 12:50 PM, erwinkramer <notifications@github.com> wrote:

 Do you have Skype so we can talk there? —
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-25 17:52] erwinkramer commented on #6
It does look like an old version, make sure you uninstall all older versions from your programs list and then run the setup from: https://github.com/erwinkramer/SoundCloud-Playlist-Sync/releases/download/r2.10.1.7/Soundcloud.Playlist.Sync_2_10_1_7.zip

[2016-07-25 22:41] noisysongbird commented on #6
I was able to install this version but now I am getting an error message saying that the soundcloud API is down but I am not seeing anything on the status page.

[code]

 It does look like an old version, make sure you uninstall all older versions from your programs list and then run the setup from: https://github.com/erwinkramer/SoundCloud-Playlist-Sync/releases/download/r2.10.1.7/Soundcloud.Play

[2016-07-25 22:50] noisysongbird commented on #6
I tried a few tests and I was able to download a single song at a URL but when I try to download a playlist (https://soundcloud.com/noisysongbird/sets/weird) it gives me the API message

[2016-07-26 08:03] erwinkramer commented on #6
@noisysongbird , thanks for reporting this issue. You are right, looks like there is an issue with the download from playlist method. Every other download method seems to be working okay, could you confirm?

Will look into this issue tonight or tomorrow.

[2016-07-26 08:11] erwinkramer commented on #6
@noisysongbird It looks like some other playlists does work properly (for example: https://soundcloud.com/therealdossier/sets/beats-just-beats), this might point to something more problematic. Will be looking into this..

[2016-07-26 14:10] noisysongbird commented on #6
Do you think it has something to do with the playlist URL?  I can run some tests later on today to help try to pin down the issue.

[2016-07-26 14:20] erwinkramer commented on #6
The URL looks fine to me, if it works in the browser it should work in the app. Maybe try http instead of https

[2016-07-26 18:28] erwinkramer commented on #6
It's a problem with SoundCloud, nothing i can do for you account playlists at the moment. It does work on other user accounts. I posted a queston [on Stackoverflow](http://stackoverflow.com/questions/38597321/soundcloud-api-users-id-playlists-not-working-with-all-users) with the hope that someone can help me out.

[2016-07-26 18:32] noisysongbird commented on #6
Were you able to get any playlists to work?  I'm wondering if maybe changing my playlist url might do something.

[code]

 It's a problem with SoundCloud, nothing i can do for you account playlists at the moment. It does work on other user accounts. I posted a queston on Stackoverflow with the hope that someone can help me out. —
You are receiving this because you were mentioned.
Reply to this ema

[2016-07-26 18:57] erwinkramer commented on #6
Not on your account, what the app does, is get all the playlist on an account, and then find the relevant one. However, it can't get any of your playlist. You could try renaming things and see what happens, renaming is free ;)

[2016-07-26 23:10] noisysongbird commented on #6
I tried all of my playlists and none of them will work.  Just to test things, I tried a different playlist by an artist and it worked perfectly fine.  I also tried changing my url to noisy-songbird but that did not do anything either.

[2016-07-27 09:59] erwinkramer commented on #6
Seems you are currently out of luck :(

[2016-07-27 11:33] noisysongbird commented on #6
I believe the error is somehow coming from my account because I had a friend run a Downloader on my playlists and he was getting the same error message

[2016-07-27 14:19] erwinkramer commented on #6
So i figured out how you can still download your playlist, it is kind of a work-around but it will work!

All you have to do is:
1. Find out what playlist ID your playlist has. You can see [here](http://valvepress.com/how-to-get-a-soundcloud-userplaylist-id/) how to do that at the 'For Playlists' section.
2. Create the SoundCloud URL for the app with the format: https://api.soundcloud.com/playlist

[2016-07-30 07:58] Haysooooom opened #8 "The operation was canceled"
I  had this error
![image](https://cloud.githubusercontent.com/assets/8220471/17268984/0aa60034-563c-11e6-90b0-edbe2df5d543.png)
so what am I doing wrong?
the playlist ID thing that was mentioned in the other issue's thread did work but after a couple of songs downloaded I get this error. Any help?

[2016-07-30 08:00] erwinkramer commented on #8
Please give me the URL you are downloading from so I can check

[2016-07-30 08:03] Haysooooom commented on #8
https://api.soundcloud.com/playlists/179762620

[2016-07-30 08:06] erwinkramer commented on #8
Just to be sure, you tried it again? Sometimes it just works after the second or third try. Although I expect a different issue.

Also pretty troublesome that you also had to find out the ID manually.

[2016-07-30 08:06] mcprat commented on #8
i bet your playlist is private. won't work if its private as the app does
not authenticate anything.

On Jul 30, 2016 4:03 AM, "Haysooooom" notifications@github.com wrote:

[2016-07-30 08:08] Haysooooom commented on #8
Nah I didn't go for the first option I just saw the other guy's issue and I jut went for the playlist ID method.
Anyways I am downloading another atm and so far so good.
btw the issue I mentioned before occurred after I download a good amount of tracks like 40 or something and happened once again after a couple more

[2016-07-30 08:08] Haysooooom commented on #8
Here is the first playlist: https://soundcloud.com/zeb-23/sets/zazz

[2016-07-30 08:09] erwinkramer commented on #8
So it did continue and didn't get stuck on a single track, I suppose?

[2016-07-30 08:10] Haysooooom commented on #8
It happened in the second try also but now I am downloading another playlist.

[2016-07-30 08:46] Haysooooom commented on #8
![image](https://cloud.githubusercontent.com/assets/8220471/17269205/caa746e4-5642-11e6-9557-ff500d7639c1.png)
alright that's almost 220 songs downloaded from a single playlist. so far so good.

[2016-07-30 08:47] erwinkramer commented on #8
The first playlist was actually https://soundcloud.com/zeb-23/sets/s0undw4v3 , will test it now

[2016-07-30 08:53] erwinkramer commented on #8
I tried https://soundcloud.com/zeb-23/sets/zazz and it completed...

[2016-07-30 08:58] erwinkramer commented on #8
What was the one that didn't work? https://soundcloud.com/zeb-23/sets/zazz and https://api.soundcloud.com/playlists/179762620 both work for me

[2016-07-30 09:05] Haysooooom commented on #8
It was the one with the playlist ID but I am downloading now using the normal URL and it's going fine. Maybe it was an error cause' of multiple tracks being downloaded? I tuned it down to 1

[2016-07-30 09:11] erwinkramer commented on #8
Well i kept it at 7 and it didn't give an error, if you happen to find a case where it consistently does error messages on a particular setting and URL then please notify me again!

Good to hear it completed, enjoy your offline collection ;) Remember that you can always sync again on the same location to have your local folder updated!

[2016-07-30 09:12] mcprat commented on #8
I also keep concurrency on 1. a lower than average internet connection can
spawn almost random errors all the time. just need to keep resyncing

On Jul 30, 2016 5:05 AM, "Haysooooom" notifications@github.com wrote:

[2016-07-30 09:14] Haysooooom commented on #8
Hopefully I don't get any errors at all but yeah my maximum download speed is 820 Kb/s so yeah it is average.
Thanks for the quick replies and great application btw.

[2016-07-30 09:14] #8 closed, assigned to nobody

[2016-07-30 09:16] mcprat commented on #8
also for the less than average or even average internet it honestly is not
really faster if concurrency is greater than 1

On Jul 30, 2016 5:12 AM, "Michael Pratt" mpratt51@gmail.com wrote:

[2016-07-30 09:17] Haysooooom commented on #8
/sad face

[2016-09-10 14:01] #6 closed, assigned to erwinkramer

[2016-10-20 10:24] Haysooooom opened #9 "Soundcloud API seems to be down"
![image](https://cloud.githubusercontent.com/assets/8220471/19556137/14a3d02e-96c0-11e6-88fa-f741432a637c.png)

I keep getting this message even though I just checked the API status and it says it's working I suppose.
Any way to fix this issue?

[2016-10-20 17:36] erwinkramer commented on #9
I am not experiencing any issues, does the error still persist?

[2016-10-20 21:30] Haysooooom commented on #9
Everything is fine now. Probably was a common issue a couple of hours ago and they didn't mention anything about it.

[2016-10-22 13:26] #9 closed, assigned to erwinkramer

[2016-11-21 16:41] mcprat opened #10 "403: forbidden (access denied) error on certain tracks"
Screenshot:

![i17 cimgpsh_orig](https://cloud.githubusercontent.com/assets/10858067/20491649/08f1edb8-afe0-11e6-995d-886706a1ab7b.png)

This only happens when attempting the last 4 tracks and it's the same tracks every time (used to be 2 but I added 2 more that cause the same incident).

I don't expect this to be fixed as it is very strange...but at least I would like to know what those tracks ar

[2016-11-26 16:45] erwinkramer commented on #10
Fixed with more information being displayed. Commit: https://github.com/erwinkramer/SoundCloud-Playlist-Sync/commit/5756f8fa8846344ce14a21bf6f82bc0358251f0f

This also writes exceptions to the Windows Event Log

[2016-12-19 16:38] noisysongbird opened #11 "Unable to download any of my playlists"
Hey, I spoke with you before about an issue that occurred when trying to download my playlists and we came to the conclusion that I needed to use the API link to download tracks from my playlists.

In the new SoundCloud update, they removed the embedded link from playlist sharing so there is no way for me to download playlists using your app.

Do you happen to know what I need to change on my prof

[2016-12-19 16:59] erwinkramer commented on #11
Not sure what the new update is you are talking about, i don't notice any changes. Can you check if you can get the playlist ID with something like this http://blog.soundsgood.co/how-to-find-a-soundcloud-playlist-id/ ? Could you also provide a playlist you are testing with?

[2016-12-19 17:00] #10 closed, assigned to erwinkramer

[2016-12-19 17:06] noisysongbird commented on #11
this is the playlist: https://soundcloud.com/noisysongbird/sets/sounds-of-the-forest-2017

if you're on a desktop and try to share it, you will see that the tab for "embedded" is no longer there but the site that you provided should work because all I need is the playlist ID.

[2016-12-19 17:09] erwinkramer commented on #11
Yeah it returns a playlist ID so i guess you're good for now?

I see the problem, not really a nice update from Soundcloud...

[2016-12-19 17:14] noisysongbird commented on #11
Pretty typical from them.  This will work for now and I can close the issue but do you happen to have any idea as to what is preventing me from using the playlist URL in the app as opposed to the playlist ID?

[2016-12-19 17:16] erwinkramer commented on #11
If I'm not mistaken then the way to fix this is to create some workaround. Maybe i need to that since more people will bump in this soon...

[2016-12-19 17:17] erwinkramer commented on #11
Oh and @noisysongbird just keep this issue open so i remember to do this :)

[2016-12-19 17:20] noisysongbird commented on #11
It feels like the issue is coming stemming from my profile because the issue doesn't occur with a certain playlist, none of them will work for me and I've had friends try downloading my playlists with their downloaders that they have made but even those wont work.

I used to be able to use downloaders with my playlist URL just fine but one day it randomly stopped working.  My only guess is that it

[2016-12-21 15:10] rtomasello opened #12 "Re-download required after moving files in a different sub-folder"
I've re-downloaded all song in my personal playlist - more than 5,800 files- following the release of the latest version 2.10.1 as this is incompatible with previous versions. However, after I moved these files in a different sub-folder the software requires to download my entire playlist once again as it doesn't recognize the old files in the sub-folder.

[2016-12-21 15:16] erwinkramer commented on #12
Did you also move the manifest file to the new sub-folder and pointed the app local directory to the new sub-folder as well?

Could you please provide the following:
- a screenshot of your current settings in the app
- the filepath of the JSON (manifest) file.
- the filename of the JSON file.

[2016-12-21 15:36] rtomasello commented on #12
![capture](https://cloud.githubusercontent.com/assets/24699269/21395118/31327886-c793-11e6-81a5-7afd4e2c0fe4.PNG)

[2016-12-21 15:41] rtomasello commented on #12
[MNFST=soundcloud.com_rickscafe_likes,FPA=True,IAIF=True,DM=Favorites,SM=1.txt](https://github.com/erwinkramer/SoundCloud-Playlist-Sync/files/666735/MNFST.soundcloud.com_rickscafe_likes.FPA.True.IAIF.True.DM.Favorites.SM.1.txt)

[2016-12-21 15:47] rtomasello commented on #12
[MNFST=soundcloud.com_rickscafe_likes,FPA=True,IAIF=True,DM=Favorites,SM=1.txt](https://github.com/erwinkramer/SoundCloud-Playlist-Sync/files/666755/MNFST.soundcloud.com_rickscafe_likes.FPA.True.IAIF.True.DM.Favorites.SM.1.txt)

[2016-12-21 16:21] erwinkramer commented on #12
After a talk on Gitter we came to the conclusion that the 'sort songs into folders by artist' checkbox should have been enabled. The check on the 'sort songs into folders by artist' checkbox should have raised a cancellation. Needs to be figured out why, in this scenario, it didn't work.

[2016-12-31 15:40] erwinkramer commented on #11
@noisysongbird
I created an extra way to find the playlist ID with commit: https://github.com/erwinkramer/SoundCloud-Playlist-Sync/commit/6a8f11926070b6d501878d0ae950395f0d0f6407 .

If it fails to get the playlist ID with the API it now searches the HTML webpage and attempts to find a tag which includes the playlist ID.

If you update the app it will work.

[2017-02-11 04:05] jamespcnut opened #13 "Unauthorised Error"
When trying to synchronise the program attempts to run and then an error pop up appears saying:
![image](https://cloud.githubusercontent.com/assets/25700208/22851072/683f8570-f06b-11e6-998b-1228a35431e8.png)

The soundcloud API is not down and changing the playlist or artists tracks I am trying to download does not resolve the issue

[2017-02-11 07:05] mcprat commented on #13
Yeah...app is broken right now...we'll get back to you when we find a resolution

[2017-02-11 11:04] erwinkramer commented on #13
@jamespcnut It still works for me, could you double check:
- The version you are using, it should be 2.10.1.20
- The tab Client ID should have a current client ID starting with 93a (same as stock client ID)

This is however is an old client ID, i reverted back to this older client ID because the newer one stopped working and returned the unauthorized like you got, we should need a new client ID by

[2017-02-11 11:07] erwinkramer commented on #13
@jamespcnut  I just see from looking at your error message that you are using the client id in a previous version of the app, please click on the update button on the top.

[2017-02-11 11:12] erwinkramer commented on #13
I just found another client id that i will also include on the app, so we end up with 2 working client IDs

[2017-02-11 11:47] jamespcnut commented on #13
Yes i'm running 2.10.1.20, and the client id begins with 93a.
I have hit update and it says there are no updates available, I have also reinstalled the program.

[2017-02-11 11:49] jamespcnut commented on #13
The error I uploaded was with an alternative client id that I had found that must have also stopped working. Having reverted back to the default id the error still remains.

[2017-02-11 12:10] erwinkramer commented on #13
@jamespcnut  so the cliend id is also different IN the same error you are getting?

[2017-02-11 12:28] jamespcnut commented on #13
Yes when I changed it back to the default id then the error showed the default id at the end of the api address. Upon looking at the source of the other id I used, their id stopped working months ago for whatever they were using it for. I just used it to confirm it was an id error

[2017-02-12 12:03] erwinkramer commented on #13
I've added a new default client id with a new update ready to download, please let me know if the problem still persists.

[2017-02-12 12:07] #11 closed, assigned to erwinkramer

[2017-02-13 03:54] jamespcnut commented on #13
The error still persists but only when trying to download all tracks off of an artists page. The program can download a playlist without any problems.

[2017-02-13 04:02] jamespcnut commented on #13
From further testing it seems to be a user id resolve issue. If instead of the users address I put in soundcloud.com/[user_id] then it attempts to download their tracks but throws a new error.
![image](https://cloud.githubusercontent.com/assets/25700208/22870662/65b84498-f1fd-11e6-8cb4-6e8f29b17c70.png)

[2017-02-13 16:58] erwinkramer commented on #13
@jamespcnut  that points to something different. What user are you trying to get tracks from?

To resolve the event log issue:
- Run your application once as an administrator
- Rerun the sync on the user where you get the errors

Please post the outcome and new errors you get.

[2017-02-18 12:19] tobias231h commented on #13
I got the same error when trying to download tracks from artist url. (404 - Not found)
I could solve the issue when replacing the username with the user id.
Here you can lookup the user id:
https://helgesverre.com/soundcloud/

[2017-02-18 12:55] tobias231h commented on #13
@jamespcnut I solved the issue by unticking 'Choose high quality versions if availiable'.
It seems that https://api.soundcloud.com/tracks/xxxxxx/download?client_id=XXX is not working even if the program detects, that the song is available in "high quality"

[2017-02-18 14:09] erwinkramer commented on #13
@tobias231h I updated the app so it gets the artist ID first before it tries to get the tracks from the artist. Please update the app and try it out.

If you want to chat with me you can do so at https://gitter.im/erwinkramer/SoundCloud-Playlist-Sync

[2017-02-22 21:31] erwinkramer commented on #13
2 bugfixes done. I guess it's solved now.

[2017-02-22 21:31] #13 closed, assigned to erwinkramer

[2017-02-22 22:30] tinnetju opened #15 "Unable to get MD5 checksum for the key file "Soundcloud Playlist Downloader_TemporaryKey.pfx"
Hi, first of all I would like to thank you for keeping this amazing piece of software up-to-date, it's the best (and possibly the only public) Soundcloud downloader there is at the moment.

I downloaded the entire solution as I am trying to build in Visual Studio, however I am getting the following error which was not an issue in the previous version(s)

Unable to get MD5 checksum for the key file

[2017-02-22 22:39] erwinkramer commented on #15
Maybe use your own signing key in the project properties?

[2017-02-22 22:47] tinnetju commented on #15
I don't have a signing key, and I can't just turn it off apparently as it says 'no license key installed'.

Sorry if this is common sense but I never had to deal with signing keys before

[2017-02-22 22:51] erwinkramer commented on #15
Yea I had this stuff to make use of clickonce from Microsoft. I'll look into it another time to see if I can ease some security.

[2017-02-23 18:26] tinnetju commented on #15
That would be awesome, thank you.

Do you know of some temporary fix in the meantime or is there a different way to obtain the current up-to-date .exe?

[2017-02-24 16:26] mcprat commented on #15
Just grab the latest release and let it update itself on run

https://github.com/erwinkramer/SoundCloud-Playlist-Sync/releases/download/r2.10.1.7/Soundcloud.Playlist.Sync_2_10_1_7.zip

[2017-02-25 19:29] tinnetju commented on #15
Alright, got it. Thanks so much!

[2017-02-25 19:47] tinnetju commented on #15
It doesn't seem to be updating on startup, and I'm getting the 'Soundcloud API seems to be down' error

[2017-02-26 22:32] mcprat commented on #15
Make sure any antivirus isn't blocking anything. You may have to start it more than once...

Otherwise just keep trying to sync it should work eventually...or you can try to change the client ID.

[2017-03-10 16:23] Hammad1029 opened #16 "doesn't download correct metadata"
The program doesn't download the correct metadata. The artist name is saved as who ever is the uploader and not from the metadata that most uploaders(monstercat in my case) provides. The title is also the upload title and not from the metadata and same also goes with the genre and the album name. The program is otherwise great! It would be great if you could fix this

[2017-03-10 16:35] erwinkramer commented on #15
Hi @tinnetju ,

Create your own Test Certificate, or choose to not sign it at the Signing tab of the project:
![image](https://cloud.githubusercontent.com/assets/4255748/23803785/e37e387e-05b7-11e7-8ddb-3fbc63c22007.png)

[2017-03-10 16:36] #15 closed, assigned to erwinkramer

[2017-03-10 17:19] erwinkramer commented on #16
Hi @Hammad1029,

Consider this track: https://soundcloud.com/monstercat/gareth-emery-standerwick-saving-light?in=monstercat/sets/monstercat-030-finale

The info i got for this track is below, as you can see the artist name is embedded in the `"title" `element, i could do parsing on strings to 'guess' the artist name, but i wouldn't consider that reliable.
`{
	"kind": "track",
	"id": 305283195,
	"c

[2017-03-11 03:45] Hammad1029 commented on #16
If by that you mean that in the title element, there is the wrong name, its not like that. The track you used is a collection of songs in a single track but if you use a single song like for e.g. https://soundcloud.com/monstercat/unlike-pluto-everything-black it wont happen probably(if I understand what you're saying)

[2017-03-11 10:32] erwinkramer commented on #16
@Hammad1029  hi,

For your new example it's still the same issue. The response below is all that i can work with. As you can see the artist:

Is only in the `Title`, `Description `and `Tag_list` elements.

`{
	"kind": "track",
	"id": 311732223,
	"created_at": "2017/03/10 18:37:42 +0000",
	"user_id": 8553751,
	"duration": 229062,
	"commentable": true,
	"state": "finished",
	"original_content_size":

[2017-03-12 05:16] Hammad1029 commented on #16
but then can't you pull it from the tag list elements? if its unreliable but can work, can you please add an option to select it?

[2017-03-13 20:41] desu2desu opened #17 "some suggestions"
sync-able favorites list / sync on program start
Creating the manifest in the artist folder
Drop-down history for the soundcloud URL and local directory boxes.
Option to turn off the creation of playlist files.

[2017-03-14 19:10] erwinkramer commented on #17
Hi @desu2desu, thanks for bringing out some ideas, here's my look at each suggestion:

Sync on program start is a good suggestion. Not sure what you mean by sync-able favorites list because favorites are sync-able?

You mean 1 manifest per artist? It makes things elegant i guess, but maybe too complex for the benefits. Why would you want it?

Good suggestion.

Good suggestion and easy to implement

[2017-03-14 19:13] erwinkramer commented on #16
@Hammad1029 , in your case, every song has a tag list that always starts with the artist name? If so, i could do that. You see it's unreliable because it's totally up to the uploader to decide how to structure that sort of thing, because the soundcloud API doesn't feature it.

[2017-03-15 21:04] desu2desu commented on #17
To clarify about the favorites list, I mean a list of soundcloud profile urls to sync the tracks of many artists instead of doing it one at a time.

I want the manifest thing because it would stop the change settings or directory thing if you have a manifest of another artist/playlist in the same folder you're trying to download into. Ex:
![manifest](https://cloud.githubusercontent.com/assets/2639

[2017-03-17 17:26] Hammad1029 commented on #16
I'd like if you'd add it. Because in the case of most professional uploaders(like labels - in my case monstercat) they do do it correctly

[2017-03-19 20:15] erwinkramer commented on #17
@desu2desu , i implemeted the option to turn off the creation of playlist files.

The updater broke so u have to manually download the new version at https://github.com/erwinkramer/SoundCloud-Playlist-Sync/releases/tag/r3.0.0

New versions will auto update again with this version

[2017-03-25 17:45] erwinkramer commented on #17
Hi @desu2desu some progress:

So a new version is up that supports multiple manifest files in the root folder. This solves your problem with another artist/playlist in the same folder.

I'm not sure why i didn't think of this before because it was just a slight modification. However, you should be cautious when syncing more than one sync configuration in the same folder. If both configurations hav

[2017-04-30 19:52] mistertoze opened #18 "Author's picture/song picture not downloaded"
Hi there,

First of all thank you for continuing this great program.

One thing I noticed is that it no longer downloads and attaches the custom picture (or the author's avatar if no custom picture is used) to the songs like the StephenCasella version did.

I kinda liked that feature.

[2017-04-30 19:59] mcprat commented on #18
hmm...it should be...I still see album art. Maybe it is under a different metadata tag or something. What program do you use to listen to your tracks?

[2017-04-30 20:08] erwinkramer commented on #18
Hi @mistertoze,

Could you please provide some track URLs that aren't showing track art?

[2017-04-30 20:22] mistertoze commented on #18
Uhhh... all of them? I just started using this version today to backup my playlists and none of the mp3 have album art.

Am I doing something wrong then?

[2017-04-30 20:26] erwinkramer commented on #18
If you could be more specific on what songs you downloaded and what program you use to view the album art then I could reproduce the issue, if I can't reproduce it I can't solve it

[2017-04-30 20:35] mistertoze commented on #18
I can see the album art of all songs downloaded with the older version, on explorer and windows media player.

But it seems to be missing from every file downloaded with this new version.

My configuration is:
- All songs from this playlist URL
- One-way sync
- Chose high quality versions if available (convert high-quality to mp3)
- Include artist name in filename
- Replace illegal characters
- Ge

[2017-04-30 20:36] erwinkramer commented on #18
Thanks for the info, that's helpful. I'll be looking into it this week.

[2017-04-30 22:07] mcprat commented on #18
I believe he is right. I have tracks last modified on 5/16/16 and earlier where I can view the album art in Windows Explorer after turning thumbnails on everywhere. I have tracks last modified on 5/17/16 where I cannot. Whatever change you made to the program on that day must have affected how the album art is tagged somehow...

I have never noticed this problem because I can still see the album a

[2017-05-05 16:25] erwinkramer commented on #18
Hi @mistertoze , i fixed the issue. Pictures weren't showing in Windows Explorer and WMP because i reverted back to the id3v2.2 standard of metadata tagging, i did this to be really safe from compatibility issues i had with id3v2.4. I now switched to id3v2.3 and it's working again. Please update the app and redownload any files you want to have it working properly on.

Just so you know, the album

[2017-05-08 23:07] Herkules97 commented on #17
Would it be possible to add an option to download the profile's playlists or albums? Record labels usually have a profile with playlists but they don't have the tracks themselves on their own profile, just the playlists and albums to them.
Another suggestion is to add the ability to download reposts aswell.

[2017-05-09 21:30] mistertoze commented on #18
Thanks! It's working great now!
But I did find another unrelated bug (sorry!).
I'll make a new thread about it.

[2017-05-09 21:30] #18 closed, assigned to erwinkramer

[2017-05-09 21:49] mistertoze opened #19 "Exception while downloading track (The operation was canceled / AggregateInnerException)"
Hi there,

I recall having a similar issue with the other version.
Songs would fail to download, but the downloader would skip them until reaching the end, and then present a list of song names that failed.

Sadly this version stops immediately once a song fails.
To sidestep this, it's necessary to increase the amount of concurrency above the number of songs that fail, and keep accepting the error

[2017-06-24 09:16] rtomasello opened #20 "Error message when syncing with Soundcloud"
I got the following error message when trying to sync my Playlist on Soundcloud:

Unable to read manifest to determine tracks to delete; exception: TagLib.CorruptFileException: MPEG audio header not found.at TagLib.File.Create(FileAbstraction abstraction, String mimetype, ReadStyle propertiesStyle)
at TagLib.Fire.Create(String path)
at Soundcloud_Playlist_Downloader.Utils.MetadataTaggingUtils.Tag

[2017-06-24 09:18] mcprat commented on #20
List or screenshot of your options in the program?

[2017-06-24 10:00] rtomasello commented on #20
<img width="315" alt="capture" src="https://user-images.githubusercontent.com/24699269/27507701-5d52485e-58cc-11e7-89ef-d0bc1a0692be.PNG">

[2017-06-24 11:15] erwinkramer commented on #20
Do you know what song it happens at?

[2017-06-24 11:27] erwinkramer commented on #19
Hi @mistertoze ,

Sorry for the late response. I updated the app to only cancel the sync if there are 10 or more songs failing.

To further investigate your issue with songs missing from the playlist, can you provide the playlist URL and the songs that are missing?

[2017-06-24 11:28] erwinkramer commented on #20
You can identify it by watching the Downl. progress view and check for the song starting with an [x] .

[2017-06-24 17:46] rtomasello commented on #20
download progress is not displayed on the 'Downl. Progress' box, the error message appears while fetching tracks to download, download does not start

[2017-06-24 21:58] mcprat commented on #20
@erwinkramer , does it tag after converting to mp3? Might have to do with that.

Either way, I highly recommend checking the "Exclude m4a, aac" checkboxes. What that does is it allows m4a and aac files to not be converted to the lesser mp3 container. It saves a lot of time for not really much benefit as almost every music player can play aac and m4a. Might also help with tagging the metadata?

I a

[2017-06-25 09:02] rtomasello commented on #20
@mpratt14 thank you for your suggestions. I've unticked 'Choose high quality versions if available' in order not to convert .m4a and .aac to .mp3. In addition, I have set 'amount' of concurrency to 1 as suggested. I've also tried to sync multiple times however I still have the same issue.

[2017-06-25 09:15] mcprat commented on #20
I meant for you to check 'Choose high quality versions if available' and then check the two in the box that appears under 'Exclude:'. If you uncheck all those then everything comes as mp3.

I just realized your problem.... Under Soundcloud URL, it should just be the link to your profile, (https://www.soundcloud.com/rickscafe) without the '/likes' part. If that doesn't work then idk.

[2017-06-25 09:44] rtomasello commented on #20
I got you, I've now flagged both 'Choose high quality versions if available' and the two checks in the box to exclude .m4a and .aac as per attached screenshot, I don't think the Soundcloud URL is the cause of the problem as I've always been able to sync my playlist with this URL

[2017-06-25 09:44] rtomasello commented on #20
<img width="312" alt="capture" src="https://user-images.githubusercontent.com/24699269/27515079-50d29b48-5993-11e7-99a7-8d3e053769b8.PNG">

[2017-06-25 09:52] erwinkramer commented on #20
I updated the app that will get you a more descriptive exception. Please update and paste the exception you are getting.

[2017-06-25 13:23] rtomasello commented on #20
thank you very much for the update. the descriptive exception is now including the track id - https://soundcloud.com/mistatrick/caravan-palace-midnight-mista-trick-remix - which caused the issue. The format for this track is .aif and its size is over 40mb. I've now removed it from my likes and I've been able to download/sync my playlist with no problems as usual. thanks again for your help, really

[2017-06-25 13:27] erwinkramer commented on #20
@rickscafe81 , good to hear, i'll further check what i can do with that track

[2017-06-25 21:32] mcprat commented on #20
Great job as usual  💯 @erwinkramer

@rickscafe81 Peggo is a great alternative for downloading individual tracks http://peggo.co/dvr/mistatrick/caravan-palace-midnight-mista-trick-remix

[2017-07-05 19:24] Hammad1029 opened #21 "cant install"
It was working perfectly until a week or so before when the app wouldn't start and since then reinstalling doesn't work either. It just says "Application cannot be started. Contact the application vendor." and gives a log file of which I've pasted the content below. BTW, I'm on windows 7 ultimate with a core 2 duo e8400@3ghz and 3gb of ddr2 ram with no graphics car; this probably won't be useful,

[2017-07-05 20:13] erwinkramer commented on #21
This is a ClickOnce issue i guess. Can you follow these instructions with someone having similar problems with an other app and check if it helps?
https://care.citrixonline.com/openvoice/troubleshooting/error-the-application-binding-data-format-is-invalid-exception-from-hresult-0x800736b2-during-installation-of-outlook-plugin-000357116

[2017-07-05 20:15] erwinkramer commented on #21
Make sure you have the sync tool closed and close all other apps if you can't remove the folder as instructed. After that the app will redownload itself.

[2017-07-05 20:19] #20 closed, assigned to erwinkramer

[2017-07-06 00:50] Hammad1029 commented on #21
Thanks for the early reply. It's working now, you can close this issue now. :)

[2017-07-07 18:15] #21 closed, assigned to erwinkramer

[2017-07-14 17:33] RoboMWM commented on #19
Yea, it'd be nice if the application could just skip over ones it fails to download, and present a list of them afterwards instead of just canceling the entire operation. There's no need for some arbitrary threshold that causes the entire process to abort.

[2017-07-14 17:39] erwinkramer commented on #19
@RoboMWM  So if there is a critical issue that causes every single track to fail, in lets say a playlist of 1000 tracks, do you want it to go over all those 1000?

[2017-07-14 18:49] RoboMWM commented on #19
Playlists can only go to a max of 500 songs, but yes, it should, and then report the ones that fail. If all of them are failing, I'm sure most users would see this... but anyways, I discovered that more recent versions exist in the repo that aren't in releases, so I used that and was able to successfully download a playlist.

[2017-07-14 19:14] erwinkramer commented on #19
Didn't you get notified to update during startup of the app?

[2017-07-14 19:16] RoboMWM commented on #19
No, but clicking update caused it to hang shortly after a message prompt saying it would restart or something. Restarting the app still seemed to use the old version.

[2017-07-18 06:00] Hammad1029 commented on #19
Same problem here, It's really annoying

[2017-07-18 17:40] RoboMWM commented on #19
@Hammad1029 Are you using 3.0.0.32? It seems that version doesn't just flat out abort on the first failed track (and also seems to fix issues with failures in the first place).

Also, re the hypothetical - that would be a rare occurrence, and even if that were the case, I'd like the program to get as much as it can anyways.

[2017-07-18 19:26] mcprat commented on #19
3.0.0.32 is the latest build that all of you should be trying before you tell Erwin to change anything.

If you are having trouble updating, uninstall the program (like you would do any other program, via the Control Panel) and remove the folder located at C:\Users\<User>\AppData\Local\Apps\2.0 then redownload the most recent release here on Github. Make sure Windows SmartScreen or your Antivirus

[2017-09-08 17:40] mcprat opened #22 "Enhancement: Option to include creation date in filename"
Hey Erwin,

This is a really small thing, but would help me a lot.

Whenever you have time

Thanks

[2017-09-08 19:24] erwinkramer commented on #22
Implemented in 7d7898c120b44f4b62ae786a7b91062601aec71b.

[2017-09-08 21:23] #22 closed, assigned to erwinkramer

[2017-09-16 04:30] Hammad1029 opened #23 "preview songs"
Can you have a workaround for only-preview and country-blocked songs? maybe like how 4kdownload does it, they parse the link themselves and then the user downloads it via their own network

[2017-09-16 05:30] mcprat commented on #23
This would be against their Terms of Service for apps I'm pretty sure...

For individual tracks that are country-blocked, does http://peggo.tv work?

[2017-09-19 19:09] erwinkramer commented on #23
There is no network behind the app. If that is what you think. Everything is done by your own connection. If you want it centralized I don't think I can help with that. A work around is simply to connect with a VPN from a country without blocks and run the app for those tracks.

[2017-09-22 07:25] Hammad1029 commented on #23
Yeah but 4kdownload does it fine. The reason why I don't use it is that your program is solely meant to sync and gives much better file format along with tags and is much better overall

[2017-10-24 13:24] Hammad1029 opened #24 "Download multiple playlists"
Okay, so unlike my other shit, this one might actually be doable and I think you'd want to. My playlist on soundcloud just reached 500 and as you may know, that is actually the limit on soundcloud. So making another playlist and syncing that and old one both everytime is just a hassle. Can you add a feature for multiple playlists? as in you enter two links and when it's done with the first it'll d

[2017-10-24 14:38] mcprat commented on #24
Sure why not

Alternatively, you could just like all the tracks across playlists, or just like them instead of putting them in playlists at all. If you have experience with Python, you can make SC playlists in bulk using groups of track IDs after downloading.

[2017-10-25 16:20] Hammad1029 commented on #24
liking them all is a just hassle plus I have devices that I don't download the songs on so I stream them on soundcloud and streaming liked songs takes away much of the functionality that normal playlists have. And I don't have experience with python, just with C and a bit of C++, tho Python is on my list to learn :)

[2017-10-25 21:47] mcprat commented on #24
You must have a lot of playlists lol

Just curious, what is more important to you, maintaining separate playlists on SC, or just getting your tracks downloaded? Or you want all of your tracks to be split up the same way they are online, in playlist folders?

[2017-10-26 14:35] Hammad1029 commented on #24
I have 504 songs currently, split into two playlists of one containing 500 and the other with 4. I just want 2 (or more depending on how many songs I keep discovering) main playlists on soundcloud that I can download from just the way I did before and keep on listening online on devices I don't have me downloaded. Nothing fancy like playlists for individual playlists for artists.

[2017-10-29 11:36] Hammad1029 commented on #24
@erwinkramer

[2017-11-08 11:48] Hammad1029 commented on #24
@erwinkramer help

[2017-11-08 16:31] mcprat commented on #24
There's not much I can do to help but here's another suggestion...
You don't have many playlists right? So what about opening multiple instances with Shift + Click?

https://www.digitalcitizen.life/how-quickly-open-multiple-windows-same-application

[2017-11-09 19:53] erwinkramer commented on #24
This is a little tricky to implement because it's probably not going to be backwards compatible then.

[2017-11-09 19:56] mcprat commented on #24
@Hammad1029 you want the playlists to remain split up when downloaded or no?

[2017-12-16 21:23] erwinkramer commented on #24
@Hammad1029  if you have multiple personal playlists in your account you can now download them  with the new download method "All playlists from this user URL", which is made possible by the addition from  @valentingiraud !

[2017-12-18 17:17] erwinkramer commented on #24
@Hammad1029 and @mpratt14 ,

I made another new version (3d24e6221057ca7f475229b57bfaed381b989519), here you can make up to 5 different configurations.

[2017-12-18 17:17] #24 closed, assigned to nobody

[2017-12-18 17:23] erwinkramer commented on #17
Hi @desu2desu ,

In the new version (3d24e6221057ca7f475229b57bfaed381b989519) there is support for up to 5 configurations. This eliminates the following requirement:

I will close this issue now. If you really want the other 2 suggestions, please open a separate issue per suggestion, that way it's easier to track.

[2017-12-18 17:23] #17 closed, assigned to erwinkramer

[2017-12-18 17:25] erwinkramer commented on #23
@Hammad1029 ,

I have no interest in building this 'feature' in, unless you know a trick (technical) to make it recognize it from another country. I'm not building a VPN solution in this app.

[2017-12-18 17:26] #23 closed, assigned to nobody

[2017-12-18 17:27] erwinkramer commented on #16
@Hammad1029 ,

I'm sorry, i think this one is too specific.

[2017-12-18 17:27] #16 closed, assigned to erwinkramer

[2017-12-18 17:32] erwinkramer commented on #19
Hi @mistertoze , @RoboMWM  and @Hammad1029 ,

Exception handling has been improved again. It will write the exceptions (per track) to a logfile in the same folder as your manifest. Also the display message is improved. If you experience issues with this new progress, please open a new issue with detailed information.

[2017-12-18 17:32] #19 closed, assigned to erwinkramer

[2018-01-14 06:16] Hammad1029 opened #26 "different sc playlists ending up on multiple folders"
I started using your new multiple playlists feature and it's working perfectly but has one problem. The program makes different folders for the different playlists on SC which makes it difficult to sort songs as I sync my music to Google Drive. Can there be an option to check that whether or not SC playlists get merged into one folder or not.

[2018-01-14 11:48] erwinkramer commented on #26
Added in 154f8b5bc39565f57309cb961bfb969fc27f97a1, you can now update to the new version.

[2018-01-14 11:52] #26 closed, assigned to erwinkramer

[2018-04-04 15:27] rmvz opened #27 "Help: "Change settings or directory""
I keep getting stuck on the same error message stating "Change settings or directory". This happens everytime I uncheck the "include artist name in filename" option which is automatically checked when I start the program. The only way for the program to work is by checking this option again. I've tried changing directories, uninstalling the program and even older versions but I keep getting this m

[2018-04-05 17:35] erwinkramer commented on #27
It's based on your local directory, in that folder a manifest file is placed based on the settings you initially used on that directory. Try an empty folder and tell me how that goes.

[2018-04-05 18:00] erwinkramer commented on #27
Also; every option, including  "include artist name in filename", will persist when a synchronization is successfully started or when you switch configs.

[2018-04-05 18:55] rmvz commented on #27
I changed the local directory to a different folder and it worked. Though does this mean that you can't use the same directory when changing settings as this seems to have created that error message, right? I actually deleted that manifest file and it does again let me download to the previous directory I was using, but I don't know if this does any harm.

Also, there is a small typo in the error

[2018-04-05 19:07] erwinkramer commented on #27
You can, using the way you described, but that also means the program now doesn't know the difference of what it has downloaded previously, and what is changed locally.

Keeping the settings the way they are seems to be the most simple approach to support actual synchronization.

[2018-04-05 19:17] erwinkramer commented on #27
Oh and thanks for noting the typo, i fixed that now and you can get it from updating the app now! 👍

[2018-04-05 19:39] rmvz commented on #27
But changing the settings then actually requires picking a new directory as well, right? But won't the program then also not know what it has downloaded previously and what it hasn't, basically downloading everything again?

[2018-04-05 19:44] erwinkramer commented on #27
yes

The content of the manifest file is all the program 'knows', just open it in notepad and check what it knows. There is no other storage by the app, except the settings it stores in the install folder.

[2018-04-05 19:52] rmvz commented on #27
I don't know whether I understand it correctly or not. Say I change my mind on something and I'd like to change the settings again, I would have to pick another directory and the program will download thousands of songs that I already have again? Everytime I change the settings? Maybe I'm wrong, please correct me if so, because I have no idea how this is programmed, but that doesn't sound very ide

[2018-04-05 20:11] erwinkramer commented on #27
Yes, but u could have multiple folders with different configs, so for each type of setting you want, you can make a different folder. You've seen the config feature in the application, right?

Maybe not for you, but i had in mind that settings would not change very often. I did however had in mind that track metadata or even the track itself could change on SoundCloud, it's comparing the downloade

[2018-04-06 10:54] #27 closed, assigned to erwinkramer

[2018-04-06 17:35] rmvz commented on #27
I have indeed. I'll try work with it and see from there how I'll organize my music.

That sure is a nice feature indeed. Thanks for taking the time to reply and helping me out :)

[2018-04-14 04:56] mcprat commented on #27
@rmvz Remember that you can manipulate the contents of the manifest file to not get duplicates of what you have downloaded from the other directory already if you want...

Just take lines from the original and put it in the new one, or, you can figure out the real difference between the manifests with different settings by the differences in the filename and just make a copy of the original manife

[2018-10-22 14:25] Virgile59 opened #28 "Download Go+ with subscription"
Hello, the tracks in Go + do not download. I have a Go + subscription. Thanks for your help.

[2018-10-23 16:10] erwinkramer commented on #28
Hi @Virgile59, thanks for the suggestion.

They haven't implemented Go+ tracks to the API. This app leans heavily on the API so i'm afraid i can't help you with it easily.

Look at the recent changes to the API: https://developers.soundcloud.com/blog/category/api They haven't updated their API in a while.

[2019-12-02 23:36] jterry21 opened #36 "Won't synchronize"
Hey man Ive been using your application for years and now for some reason it doesn't work. I recently got a new computer and it worked the first few times, but now it hasn't worked for over a week. So maybe it's just me idk.

[2019-12-03 05:48] erwinkramer commented on #36
@jterry21 what error are you getting?

[2019-12-03 20:55] erwinkramer commented on #36
I see we're getting a HTTP 401 back, it's not just this app. See https://github.com/ytdl-org/youtube-dl/issues/23045

[2019-12-03 21:02] erwinkramer commented on #36
@jterry21  I'll wait and see what happens on the SoundCloud side, as of now it looks like their issue.

[2019-12-09 23:37] jterry21 commented on #36
Hey sorry for taking so long to get back too you. But it's kinda hard to explain exactly why it isn't working. It will like download one song but then after that it says "The operation was cancelled. Aggregate inner exception while downloading track" I have no idea what that means, but I have found other ways to download my playlists but there is no album art doesn't always get the artists names r

[2019-12-09 23:45] jterry21 commented on #36
I have also tried to use a different client Id, but then it says soundcloud API may be down.

[2019-12-10 00:44] mcprat commented on #36
@erwinkramer Hey friend, whats new?
Unfortunately I'm getting the same thing. not reaching the API or using a faulty client ID gives completely different errors. How do you debug? is there a more verbose log somewhere? I can't find recent news about changes to the API but I would start there

It's been a long time since I used the app, the issue may not be recent at all

Also, when I opened the ap

[2019-12-11 10:27] erwinkramer commented on #36
hi @mpratt14 It's an HTTP 401 returned when trying to download. SoundCloud must have changed something but i don't know what. I also tried the **api-v2** endpoint to download tracks but the same issue persists.

[2019-12-12 02:28] lowestprime commented on #36
same issue here

[2019-12-24 14:12] erwinkramer commented on #36
@jterry21 , @mpratt14 , @cooperbeaman

I've published a new version where tracks will be downloaded with the v2 endpoint. Seems to work nicely.

[2019-12-24 14:12] #36 closed, assigned to erwinkramer

[2019-12-24 17:16] jterry21 commented on #36
That’s great news man ill try as soon as possible. Honestly I would pay for it if you made it that way , it’s that good of a program.

Sent from my iPhone

[2019-12-24 17:28] erwinkramer commented on #36
@jterry21  i've added a PayPal donate button at the start of the readme. Enjoy the app!

[2019-12-30 15:16] erwinkramer commented on #36
@jterry21 thank you so much for the donation, very kind of you.

Could you maybe check out the new release (https://github.com/erwinkramer/SoundCloud-Playlist-Sync/releases/tag/r14)? I've changed a bunch of stuff and i'm curious how it's working out for others.

[2020-03-17 03:19] jterry21 opened #37 "Says API server is down"
Hey,

Is anyone else able to download their playlist still? For me it says the says the soundcloud API is down so it won't let me download anything. Is this just me or is it a universal problem?

[2020-03-17 03:37] jterry21 commented on #37
I actually just re downloaded the program and thought that it would work now but instead I'm getting a different problem. When I try to download a playlist it just says the following error was thrown:system,aggregate.exception and a whole bunch of other stuff. I literally used this program less than a week ago so whatever has happened is recent.

[2020-03-19 20:31] erwinkramer commented on #37
The client id was made invalid by SoundCloud, i've updated the default `client id 2` to a new value: `dfd268143d94dad03a4242c54646e4a4`. You can update it yourself with the new value at the `API Config` tab, or you can update the app, then remove the file `appsettings.json` at `yourDocumentsFolder\SoundCloud Playlist Sync` to make it regenerate the app settings with the new value.

[2020-03-19 20:33] erwinkramer commented on #37
@jterry21  next time you can try and help find a working cliend id if you have nothing to do 🥇

[2020-03-24 18:02] jterry21 commented on #37
I thought maybe it would just work after a week or so but no luck. Also I tried to create a new client ID but when I click on the to create a new ID link, it doesn't load anything up. There still isn't another program like this so im hoping you can figure it out soon. Thanks anyways

[2020-03-25 08:59] erwinkramer commented on #37
@jterry21 yes even new cliend id's i've found stopped working. I've updated the app so the link works, but you cannot register to create a new ID at the moment.

[2020-03-25 09:29] erwinkramer commented on #37
@jterry21 i've made another change. Please update to version 27 and select `Cliend ID 2` and then press `Save settings`. This works for me, so it should work for you as well.

[2020-03-27 12:27] svvzo opened #38 "Some playlist songs can't be synchronized"
Hi,

I recently noticed that the new Soundcloud Playlist Sync is not able to synchronize all songs in my playlist anymore. For example, my playlist contains 59 tracks of which only 32 are detected. If I try to synchronize the other 27 tracks it keeps saying that all tracks are already synchronized. These are non SC-go tracks.

[2020-03-27 16:19] erwinkramer commented on #38
@svvzo  This must be because of the new client id. At the moment i cannot make a new one and i just use one that i found online.

[2020-03-27 19:05] erwinkramer commented on #38
@svvzo  can you post the playlist? I just checked with another one and it downloaded all just fine.

[2020-03-27 19:20] svvzo commented on #38
Oh sorry. This is the original: https://soundcloud.com/stijnvanzoggel/sets/downl and this is the one with al tracks that won't sync: https://soundcloud.com/stijnvanzoggel/sets/dls

[2020-03-27 19:44] erwinkramer commented on #38
I call the soundcloud API to get all the track info, if i do it with your playlist, it tells me there are no tracks at all in the playlist. So i can't do anything about it. I tried adding the tracks to another list and other client-id's, but really a SoundCloud issue...
[code]

[2020-03-31 22:08] jterry21 commented on #37
Yeah man works perfect now appreciate your time. I just now got the chance to try out sorry for my slow response times but thanks anyways

[2020-03-31 22:08] #37 closed, assigned to erwinkramer

[2020-04-03 13:58] brwneyed opened #39 "Can't open the Exe"
if i want to open it, nothing comes. If i open it with cmd it opens but when i want so sync a playlist i get a
![2020-04-03 15_57_24-Window](https://user-images.githubusercontent.com/63109493/78368393-dcb2cf80-75c3-11ea-9ad1-7c2ada376cff.png) error

[2020-04-03 14:00] #39 closed, assigned to nobody

[2020-04-28 23:01] lsisls opened #40 "All Playlists method Error!"
I have a problem synchronizing all playlists from my profile page. Single playlists will work, but can't download them all from the first "Download Method". Every time I get the error I attached.
![Annotation 2020-04-28 180102](https://user-images.githubusercontent.com/64504137/80546019-3f587a80-897a-11ea-8bbb-ca731dca69b4.jpg)

[2020-04-29 18:50] erwinkramer commented on #40
hi @lsisls , I just tested it, fails for you (if i test it as well) but works with my own soundcloud username. Did you recently add new playlists? I see no other option than to try and make new playlists or make a new account and see if that works (most likely).

[2020-05-05 12:51] #40 closed, assigned to erwinkramer

[2020-05-05 12:51] #38 closed, assigned to erwinkramer

[2020-05-25 11:39] RSPKM opened #41 "exe wont open"
exe no longer opens, it did ask me to install  .NET Core 3.1 which i did but nothing changed.
running win 10 here.. any help would be great

[2020-05-25 13:42] Break-Off commented on #41
Same problem here. Fresh W10 install, installed .NET Core 3.1. Exe won't open.

[2020-05-26 05:06] erwinkramer commented on #41
Do you get any kind of notification, or what exactly happens. Also, when did it still work? It's possible that your anti-virus is blocking it, do you have anything other than Windows Defender installed?

[2020-05-26 09:34] Break-Off commented on #41
Hey. Thanks for taking your time into this issue.

There's no warning or error whatsoever. Only indication is cursor briefly changing to wait icon and then nothing happens. No AV, just Windows Defender.

I used the application without problems 2 years ago, so I'm guessing (by looking at the release timeline) that it was around version 3.0.0.41.

[2020-05-26 09:41] RSPKM commented on #41
thanks for the reply, just windows defender but it's not blocking (i don't think) it doesn't appear in my allow list and i don't get any notification like on other apps to allow access.
App attempts to open but nothing happens

[2020-05-26 10:29] erwinkramer commented on #41
Maybe try opening it as admin or disabling Windows Defender. Either way, windows Defender should give you a notification about this app being unknown, which you can accept.

[2020-05-26 10:33] RSPKM commented on #41
hi, yes tried this.. i just get a few seconds of circle then nothing opens
defender off
open as admin

[2020-05-26 13:29] erwinkramer commented on #41
I can reproduce this on another machine, i'll get into it. Just to be sure, you're running this .net core .exe right? `windowsdesktop-runtime-3.1.4-win-x64`

[2020-05-26 13:50] RSPKM commented on #41
appreciate this
I used the link supplied but it is 3.1.0 installed

[2020-05-26 17:30] erwinkramer commented on #41
could you try downloading the 3.1.4 version from here: https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-desktop-3.1.4-windows-x64-installer

and could you show me the details screen of the exe like this:
![image](https://user-images.githubusercontent.com/4255748/82931543-5db89280-9f87-11ea-8a20-d9b69f28f16c.png)

[2020-05-26 17:39] Break-Off commented on #41
Downloaded and installed, no luck. Same behavior.

![imagen](https://user-images.githubusercontent.com/5843433/82932578-f1d72980-9f88-11ea-86ba-b39694ad6a3e.png)

[2020-05-26 17:41] erwinkramer commented on #41
it's odd that the size of the exe doesn't match. did you try to download the latest version again from https://github.com/erwinkramer/SoundCloud-Playlist-Sync/raw/fix/Soundcloud%20Playlist%20Downloader/Releases/SoundcloudPlaylistDownloader.exe

[2020-05-26 17:42] erwinkramer commented on #41
did you just updated the picture, lol

[2020-05-26 17:42] Break-Off commented on #41
Sorry, that was a previous version I tried downloading (thinking it would fix the problem). It happens with latest one and that previous version.

[2020-05-26 17:44] erwinkramer commented on #41
do you have time to chat on gitter, it's easier that way: https://gitter.im/erwinkramer/SoundCloud-Playlist-Sync?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2020-05-26 17:52] RSPKM commented on #41
3.1.4 Installed but so change, version same as the image

[2020-05-26 18:11] erwinkramer commented on #41
please download the exe again as it resolves an issue

[2020-05-26 18:11] erwinkramer commented on #41
the SoundcloudPlaylistDownloader.exe i mean

[2020-05-26 18:37] erwinkramer commented on #41
fixed with 8afd0e01ce96861d5f2d1072c62964733f8432f7

[2020-05-26 18:37] #41 closed, assigned to erwinkramer

[2020-05-26 18:39] RSPKM commented on #41
LEGEND! thanks so much

[2020-10-20 21:19] giraudvalentin opened #42 "Newtonsoft Json Error converting value {null} to type 'System.Int32' for original_content_size"
Hello, found a bug recently, solution work for me in local

## Problem
Newtonsoft Json Error converting value {null} to type 'System.Int32'

https://stackoverflow.com/questions/41873274/newtonsoft-json-error-converting-value-null-to-type-system-int32

![image](https://user-images.githubusercontent.com/37140584/96649531-98a1d500-1331-11eb-813f-6c9775458cea.png)

## Temporary Solution

Work for me b

[2020-10-21 08:56] erwinkramer commented on #42
@giraudvalentin yeah that's a good solution, in that same object i've made other properties nullable as well for the same problem. I'll fix that now

[2020-10-21 08:59] erwinkramer commented on #42
changed in https://github.com/erwinkramer/SoundCloud-Playlist-Sync/commit/736b3be582e432d620a836ddddae64b1da89acc7

[2020-10-21 09:02] erwinkramer commented on #42
I've made a new release with number 55. Can you confirm it's fixed in that one?

[2020-10-21 19:10] giraudvalentin commented on #42
So it start to download some track but, i have another error:

![image](https://user-images.githubusercontent.com/37140584/96771317-c6deed80-13e1-11eb-856f-ae2953aac25e.png)

[2020-10-21 19:12] giraudvalentin commented on #42
It's possible to have url link instead text for EffectiveDownloadUrl ?

It's complicated to be copied, may be use another way ?

[2020-10-21 21:09] erwinkramer commented on #42
Can you show me the settings you use and the playlist you download? So I can try and recreate the issue.

The error inside is in French, it tries to copy a file to a location where it already exists? Did you change some settings?

[2020-10-22 10:51] erwinkramer commented on #42
I changed the EffectiveDownloadUrl to the short uri and modified the File.Move behavior to be more robust.

Can you test again in release version 57?

[2020-10-22 21:25] giraudvalentin commented on #42
Hello,
No problem with release 58.

I cant download some songs but think it's normal, no more error on move or in the json object

[code]

[2020-10-23 06:52] #42 closed, assigned to erwinkramer

[2020-10-24 11:39] erwinkramer commented on #42
@giraudvalentin i just made some more improvements to make it continue when there are a bit more songs compared to errors. Your playlists resulted in 15,3GB worth of files and just 16 not downloadable files.

[2020-10-26 11:21] giraudvalentin commented on #42
thank you very much ;)
I tell you if I have any problem in future to fix or optimize this beautiful application :)

[2021-02-19 21:17] erwinkramer commented on #12
the tool works with relative paths and no further issues are known when renaming or moving the sync folder,

[2021-02-19 21:17] #12 closed, assigned to erwinkramer

[2021-08-09 04:50] 1o5 opened #43 "System.AggregateException error"
For the past week or so, I have been having the error shown in the capture. I thought at first it was just a one time thing and decided to try it after a day or two, but it kept happening so now I am here. Any ideas or fixes? (I am on the latest version)
![Capture](https://user-images.githubusercontent.com/72471927/128661439-775d331e-d025-4f65-9ffe-46c1ee7c9853.PNG)

[2021-08-09 08:51] erwinkramer commented on #43
@1o5 probably the security token has expired, see API config dropdown for instructions. Let me know if that works.

[2021-08-09 19:30] erwinkramer commented on #43
@1o5 I've looked into this. Seems like they tightened the security. See https://developers.soundcloud.com/blog/security-updates-api . Specifically, the part at "Use Client Credentials Grant for Server-Side Integrations". In order to get that kind of access, i not only need a client id, but also a matching client secret, which would be hard to get.

An alternative for me would be rewriting the app

[2021-08-09 23:29] 1o5 commented on #43
Thank you, I will look into the alternative provided.

[2021-08-25 21:14] enhancer opened #44 "impossible de synchroniser"
![soundcloud_playlist_error](https://user-images.githubusercontent.com/3251707/130865266-d4959bd9-46e5-4187-be23-4165a20bf8ad.PNG)

Lorsque je souhaite synchroniser , j'ai ce message d'erreur en pj. J'ai essayé les différents token fournis dans l'application mais j'ai le même message d'erreur. j'ai essayer de creer une app avec l'api soundcloud mais sur le site , il n'est plus possible demande la

[2021-08-26 06:15] erwinkramer commented on #44
Please see my comment at : https://github.com/erwinkramer/SoundCloud-Playlist-Sync/issues/43#issuecomment-895483967

[2021-08-26 06:15] #44 closed, assigned to nobody

[2022-01-21 23:38] Viper54710 commented on #43
please just consider to use v2 endpoint as this software is awesome .. it grab filesn, tag them and add cover in one click (under Windows OS)
the alternative is so painful .. I'll tryied with Jdownloader2 but missed some automation
thanks

[2022-02-19 20:23] lowestprime commented on #43
bump
please use v2 endpoint!
downloadsound.cloud is the second best alternative to this imo, but pales in comparison. Maybe you could merge their code with this to fix it somehow?

[2022-04-23 16:30] iCrazyGaming commented on #43
Bump
Please update to fix this error.
This is the #1 soundcloud dowloader don't let it go to waste.